@charset "UTF-8";
.main {
  margin-top: 52px;
}
.br__pc {
  display: none;
}
.br__sp {
  display: block;
}
.center-item__sp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.eyecatch {
  width: 100%;
  height: 61.80vw;
  background-image: url("../assets/eyecatch-top.jpg");
  background-size: 120% auto;
  background-position: center;
}

/*=========
section
=========*/
.section {
  text-align: center;
}
  .section--gray {
    background-color: #212121;
  }
  .section__container {
    box-sizing: border-box;
    padding: 64px 18px;
  }
  .section__title {
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 26px;
    font-size: 2.6rem;
  }
  .section__subtitle {
    font-family: 'Noto Serif JP', serif;
    margin-bottom: 18px;
    font-size: 1.8rem;
    line-height: 1.5;
  }
  .section__sentence {
    margin-top: 16px;
    text-align: left;
    line-height: 1.5;
  }
    .section__sentence--mb {
      text-align: center;
      margin-bottom: 26px;
    }
  .section__box {
    margin-bottom: 42px;
  }
  .section__box:last-of-type {
    margin-bottom: 0;
  }

/*=========
button
=========*/
.button {
  cursor: pointer;
}
  .button-square {
    padding: 9px 0;
    width: 231px;
    background-color: #eaeaea;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1;
    color: #484848;
    border-radius: 8px;
    box-shadow: 0 5px 4px 3px rgba(0, 0, 0, 0.50);
  }

@media screen and (min-width:1080px) {
  .button {
    transition: .3s;
  }
  .button:hover {
    transform: translateY(-4px);
    color: #eaeaea;
    background-color: #484848;
  }
    .br__pc {
      display: block;
    }
    .br__sp {
      display: none;
    }
  .eyecatch {
    height: 38.19vw;
    background-size: 120% auto;
    background-position: center;
  }
    .section__title {
      font-size: 3.6rem;
    }
    .section__subtitle {
      font-size: 2.6rem;
    }
    .section__container {
      width: 100%;
      margin: 0 auto;
      max-width: 1080px;
      box-sizing: border-box;
      padding: 64px 18px;
    }
}
